{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Cadastro</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('cadastrar') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="nome">Nome</label>
                      <input name="nome" type="text" class="form-control" placeholder="Seu nome" required>
                    </div>
                    <div class="col form-group">
                      <label for="sobrenome">Sobrenome</label>
                      <input name="sobrenome" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="dtnasc">Data de Nascimento</label>
                      <input name="dtnasc" type="date" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="logradouro">Logradouro</label>
                      <input name="logradouro" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="cidade">Cidade</label>
                      <input name="cidade" type="text" class="form-control" placeholder="Seu nome" required>
                    </div>
                    <div class="col form-group">
                      <label for="uf">UF</label>
                      <input name="uf" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="email">E-mail</label>
                      <input name="email" type="text" class="form-control" placeholder="Seu e-mail..." required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="senha">Senha</label>
                      <input name="senha" type="password" class="form-control" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>

                </form>

              </div>
{% endblock conteudo %}