{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Login</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('login') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="email">E-mail</label>
                      <input name="email" type="text" class="form-control" placeholder="Seu e-mail...">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="senha">Senha</label>
                      <input name="senha" type="password" class="form-control">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Entrar</button>

                </form>

              </div>
{% endblock conteudo %}