{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Cadastro de Planta</h4>
  <div class="reply-form">

    <table class="table">
      <thead>
        <th>Código</th>
        <th>Nome Popular</th>
        <th>Nome Científico</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Estoque</th>
        <th>Opções</th>
      </thead>
      <tbody>
      {% if plantas %}
        {% for p in plantas %}
          <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>{{ p[5] }}</td>
            <td>Excluir | Editar</td>
          </tr>
        {% endfor %}
      {% else %}
        <p>Nenhum item foi encontrado</p>
      {% endif %}
      </tbody>
    </table>

    {{ plantas[0][1] }}
  </div>
{% endblock conteudo %}