{% extends "template.html" %}
{% block conteudo %}
<h4 class="comments-count">Cadastro de Planta</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('cadastrar_planta') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="nome_popular">Nome Polupar</label>
                      <input name="nome_popular" type="text" class="form-control" placeholder="Seu nome" required>
                    </div>
                    <div class="col form-group">
                      <label for="nome_cientifico">Nome cientifico</label>
                      <input name="nome_cientifico" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="descricao">Descricao</label>
                      <input name="descricao" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="categoria">Categoria</label>
                      <select name="categoria" required class="form-control">
                        <option value="frutifera">Frutifera</option>
                        <option value="ornamental">Ornamental</option>
                        <option value="medicinal">Medicinal</option>
                      </select>
                    </div>
                    <div class="col form-group">
                      <label for="estoque">Estoque</label>
                      <input name="estoque" type="number" value="0" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>

                </form>

              </div>
{% endblock conteudo %}