<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center">
          {% if 'logado' in session %}
            <a href="mailto:{{ session['logado']['email'] }}">
              {{ session['logado']['email'] }}</a></i>
          {% else %}
            <a href="mailto:contact@example.com">contact@example.com</a></i>
          {% endif %}
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Mudas<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="blog.html">Blog</a></li>
          {% if 'logado' in session %}
          <li class="dropdown"><a href="#"><span>Plantas</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/cadastrar_planta">Cadastrar</a></li>
              <li><a href="/listar_planta">Listar</a></li>
              <li class="dropdown"><a href="#"><span>Saídas</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Registrar</a></li>
                  <li><a href="#">Listar</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/logout">Logout</a></i></li>
          {% endif %}
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
<!--    <div class="breadcrumbs">-->
<!--&lt;!&ndash;      <div class="page-header d-flex align-items-center" style="background-image: url('');">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="container position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="row d-flex justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-lg-6 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <h2>{{ titulo }}</h2>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <nav>-->
<!--        <div class="container">-->
<!--          <ol>-->
<!--            <li><a href="index.html">Home</a></li>-->
<!--            <li>Blog Details</li>-->
<!--          </ol>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </div>&lt;!&ndash; End Breadcrumbs &ndash;&gt;-->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8">

<!-- Uso de icones -->
<!--                <i class="bi bi-folder"></i>-->
<!--                <i class="bi bi-tags"></i>-->

<!--            <div class="post-author d-flex align-items-center">-->
<!--              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">-->
<!--              <div>-->
<!--                <h4>Jane Smith</h4>-->
<!--                <div class="social-links">-->
<!--                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>-->
<!--                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>-->
<!--                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>-->
<!--                </div>-->
<!--                <p>-->
<!--                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End post author &ndash;&gt;-->

            <div class="comments">
              <!-- get_flashed_messages( category_filter=['category'] ) -->
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      <ul id="messages" class="list-unstyled">
                      {% for category, message in messages %}
                          <li class="alert alert-{{ category }}">{{ message }}</li>
                      {% endfor %}
                      </ul>
                  {% endif %}
              {% endwith %}

              {% block conteudo1 %}{% endblock %}

              {% block conteudo %}
              {% endblock conteudo %}

            </div><!-- End blog comments 154-177-->

          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Categories</h3>
                <ul class="mt-3">
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

<!--              <div class="sidebar-item recent-posts">-->
<!--                <h3 class="sidebar-title">Recent Posts</h3>-->

<!--                <div class="mt-3">-->

<!--                  <div class="post-item mt-3">-->
<!--                    <img src="assets/img/blog/blog-recent-1.jpg" alt="">-->
<!--                    <div>-->
<!--                      <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>-->
<!--                      <time datetime="2020-01-01">Jan 1, 2020</time>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash; End recent post item&ndash;&gt;-->

<!--                  <div class="post-item">-->
<!--                    <img src="assets/img/blog/blog-recent-2.jpg" alt="">-->
<!--                    <div>-->
<!--                      <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>-->
<!--                      <time datetime="2020-01-01">Jan 1, 2020</time>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash; End recent post item&ndash;&gt;-->

<!--                  <div class="post-item">-->
<!--                    <img src="assets/img/blog/blog-recent-3.jpg" alt="">-->
<!--                    <div>-->
<!--                      <h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>-->
<!--                      <time datetime="2020-01-01">Jan 1, 2020</time>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash; End recent post item&ndash;&gt;-->

<!--                  <div class="post-item">-->
<!--                    <img src="assets/img/blog/blog-recent-4.jpg" alt="">-->
<!--                    <div>-->
<!--                      <h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>-->
<!--                      <time datetime="2020-01-01">Jan 1, 2020</time>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash; End recent post item&ndash;&gt;-->

<!--                  <div class="post-item">-->
<!--                    <img src="assets/img/blog/blog-recent-5.jpg" alt="">-->
<!--                    <div>-->
<!--                      <h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>-->
<!--                      <time datetime="2020-01-01">Jan 1, 2020</time>-->
<!--                    </div>-->
<!--                  </div>&lt;!&ndash; End recent post item&ndash;&gt;-->

<!--                </div>-->

<!--              </div>&lt;!&ndash; End sidebar recent posts&ndash;&gt;-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Impact</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Impact</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>